.import
generated_image.png
addons/material_maker/models/Material.material
addons/material_maker/models/models.blend1
addons/material_maker/models/models.dae
addons/material_maker/models/models.dae.import
*.import
_build
